.docksite > .toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}
/**
 * Toolbar Button
 */
.docksite > .toolbar > a.toolbar-button{
    display: block;
    width: 29px;
    height: 29px;
    margin: 0;
    padding: 0;
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    font: inherit;
    color: inherit;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    transition-property: background-color;
    transition-duration: .3s;
}
.docksite > .toolbar > a.toolbar-button:hover{
    background-color: rgba(0,0,0,.05);
}
.docksite > .toolbar > a.toolbar-button.active{
    background-color: rgba(0,0,0,.075);
    box-shadow: inset rgba(0,0,0,.2) 0 0 3px;
}
/**
 * Wide Button
 */
.docksite > .toolbar > a.button{
    display: block;
    width: auto;
    height: 29px;
    margin: 0;
    padding: 0;
    background-size: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    font: inherit;
    font-size: 0.8em;
    line-height: 29px;
    color: inherit;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    transition-property: background-color;
    transition-duration: .3s;
}
.docksite > .toolbar > a.button.icon{
    padding: 0 6px 0 26px;
}
.docksite > .toolbar > a.button:hover{
    background-color: rgba(0,0,0,.05);
}
.docksite > .toolbar > a.button.active{
    background-color: rgba(0,0,0,.075);
    box-shadow: inset rgba(0,0,0,.2) 0 0 3px;
}
/**
 * Horizontal Separator
 */
.docksite > .toolbar > hr{
    width: 100%;
    margin: 3px 0;
    padding: 0;
    width: 0;
    border-top: 1px solid rgba(0,0,0,.05);
}